In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets


# Import the API key.
from config import g_key

In [2]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Esso,RU,2021-12-22 10:53:58,55.9333,158.7000,10.80,94,100,2.98
1,1,Guerrero Negro,MX,2021-12-22 10:53:59,27.9769,-114.0611,60.28,80,99,8.77
2,2,Qaanaaq,GL,2021-12-22 10:53:59,77.4840,-69.3632,27.39,55,3,9.71
3,3,East London,ZA,2021-12-22 10:53:59,-33.0153,27.9116,77.94,69,20,14.97
4,4,Vung Tau,VN,2021-12-22 10:54:00,10.3460,107.0843,78.44,82,98,18.37

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

temps=[]

for temp in max_temp:
    temps.append(max(temp,0))

In [7]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat","Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"].astype(int)

# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Guerrero Negro,MX,2021-12-22 10:53:59,27.9769,-114.0611,60.28,80,99,8.77
3,3,East London,ZA,2021-12-22 10:53:59,-33.0153,27.9116,77.94,69,20,14.97
4,4,Vung Tau,VN,2021-12-22 10:54:00,10.3460,107.0843,78.44,82,98,18.37
6,6,Bredasdorp,ZA,2021-12-22 10:54:00,-34.5322,20.0403,76.32,65,100,12.66
7,7,Atuona,PF,2021-12-22 10:54:01,-9.8000,-139.0333,78.55,73,92,21.14
8,8,Cape Town,ZA,2021-12-22 10:53:51,-33.9258,18.4232,80.11,66,20,5.01
9,9,Hithadhoo,MV,2021-12-22 10:54:01,-0.6000,73.0833,82.58,67,95,2.15
10,10,Hermanus,ZA,2021-12-22 10:54:02,-34.4187,19.2345,85.89,69,100,12.44
11,11,New Norfolk,AU,2021-12-22 10:54:02,-42.7826,147.0587,56.70,46,100,3.00
13,13,Mar Del Plata,AR,2021-12-22 10:49:10,-38.0023,-57.5575,68.88,91,75,3.00

In [13]:
preferred_cities_df.count()

City_ID       296
City          296
Country       294
Date          296
Lat           296
Lng           296
Max Temp      296
Humidity      296
Cloudiness    296
Wind Speed    296
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1   Guerrero Negro      MX     60.28  27.9769 -114.0611
3      East London      ZA     77.94 -33.0153   27.9116
4         Vung Tau      VN     78.44  10.3460  107.0843
6       Bredasdorp      ZA     76.32 -34.5322   20.0403
7           Atuona      PF     78.55  -9.8000 -139.0333
8        Cape Town      ZA     80.11 -33.9258   18.4232
9        Hithadhoo      MV     82.58  -0.6000   73.0833
10        Hermanus      ZA     85.89 -34.4187   19.2345
11     New Norfolk      AU     56.70 -42.7826  147.0587
13   Mar Del Plata      AR     68.88 -38.0023  -57.5575

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
hotel_df.head(10)

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig