## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hamilton,US,39.1834,-84.5333,60.98,79,100,5.01,overcast clouds
1,1,Todos Santos,MX,23.4500,-110.2167,80.11,74,92,6.44,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,76.28,88,75,4.56,broken clouds
3,3,Butaritari,KI,3.0707,172.7902,81.79,77,100,9.62,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,77.67,68,68,8.77,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hamilton,US,39.1834,-84.5333,60.98,79,100,5.01,overcast clouds
1,1,Todos Santos,MX,23.4500,-110.2167,80.11,74,92,6.44,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,76.28,88,75,4.56,broken clouds
3,3,Butaritari,KI,3.0707,172.7902,81.79,77,100,9.62,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,77.67,68,68,8.77,broken clouds
6,6,Ballina,AU,-28.8667,153.5667,77.04,69,100,5.99,overcast clouds
8,8,Taltal,CL,-25.4000,-70.4833,67.21,78,45,1.43,scattered clouds
9,9,Quatre Cocos,MU,-20.2078,57.7625,76.08,81,97,2.10,overcast clouds
10,10,Honiara,SB,-9.4333,159.9500,86.72,72,70,4.63,broken clouds
13,13,San Carlos De Bariloche,AR,-41.1456,-71.3082,65.30,48,0,7.47,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                354
City                   354
Country                350
Lat                    354
Lng                    354
Max Temp               354
Humidity               354
Cloudiness             354
Wind Speed             354
Current Description    354
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                350
City                   350
Country                350
Lat                    350
Lng                    350
Max Temp               350
Humidity               350
Cloudiness             350
Wind Speed             350
Current Description    350
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hamilton,US,60.98,overcast clouds,39.1834,-84.5333,
1,Todos Santos,MX,80.11,overcast clouds,23.4500,-110.2167,
2,Bengkulu,ID,76.28,broken clouds,-3.8004,102.2655,
3,Butaritari,KI,81.79,overcast clouds,3.0707,172.7902,
4,Rikitea,PF,77.67,broken clouds,-23.1203,-134.9692,
6,Ballina,AU,77.04,overcast clouds,-28.8667,153.5667,
8,Taltal,CL,67.21,scattered clouds,-25.4000,-70.4833,
9,Quatre Cocos,MU,76.08,overcast clouds,-20.2078,57.7625,
10,Honiara,SB,86.72,broken clouds,-9.4333,159.9500,
13,San Carlos De Bariloche,AR,65.30,clear sky,-41.1456,-71.3082,

In [8]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
# hotel_df.count()
clean_hotel_df = hotel_df.dropna()
# hotel_df.count()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hamilton,US,60.98,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
1,Todos Santos,MX,80.11,overcast clouds,23.4500,-110.2167,Hotel California Todos Santos
2,Bengkulu,ID,76.28,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
3,Butaritari,KI,81.79,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
4,Rikitea,PF,77.67,broken clouds,-23.1203,-134.9692,People ThankYou
6,Ballina,AU,77.04,overcast clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
8,Taltal,CL,67.21,scattered clouds,-25.4000,-70.4833,Residencial Karime
9,Quatre Cocos,MU,76.08,overcast clouds,-20.2078,57.7625,Sunrise Attitude Hotel
10,Honiara,SB,86.72,broken clouds,-9.4333,159.9500,Heritage Park Hotel
13,San Carlos De Bariloche,AR,65.30,clear sky,-41.1456,-71.3082,Hotel Patagonia

In [10]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))